body {
  background-color: #1b1b1b;
  margin: 0px;
  padding: 0px;
}
.flip {
  transform: rotateY(-180deg);
}
.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
#settings {
  overflow: hidden;
  filter: drop-shadow(0px 0.25rem 0.25rem #00000069);
  position: fixed;
  width: 20rem;
  left: 2rem;
  bottom: 6rem;
  z-index: 5;
  font-family: 'Questrial', sans-serif;
  color: #ffffff;
  background-color: #222222;
  height: fit-content;
  padding: 6px 12px;
  border-radius: 12px;
}
#settings form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#settings input[type=number] {
  width: 50%;
  padding: 16px 20px;
  margin: 6px 0px;
  display: block;
  border: 1px solid #1b1b1b;
  outline: none;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #1b1b1b;
  color: #ffffff;
  transition: 0.1s;
  -moz-appearance: textfield;
  /*For FireFox*/
}
#settings input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#settings input[type=number]:focus {
  border: 1px solid #7c7aff;
}
#settings input[type=submit] {
  width: 100%;
  background-color: transparent;
  color: #7c7aff;
  padding: 16px 20px;
  margin: 6px 0px;
  border: solid 1px #7c7aff;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Questrial', sans-serif;
  transition: 0.1s;
}
#settings input[type=submit]:hover {
  color: #ffffff;
  background-color: #7c7aff;
}
#settings label {
  padding: 16px 20px;
  margin: 6px 0px;
  font-size: 1.25em;
  color: #ffffff;
  font-family: 'Questrial', sans-serif;
  width: 50%;
}
#settings div {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#cardTable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 100px;
  margin-bottom: 80px;
  height: 100%;
}
#cardTable .raritys {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
}
#cardTable .card-container {
  width: var(--ww);
  height: var(--hh);
  margin: 12px auto;
  border-radius: 12px;
  perspective: 80rem;
  pointer-events: none;
  filter: drop-shadow(0px 0.25rem 0.25rem #00000069);
}
#cardTable .card {
  position: relative;
  height: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  transform-style: preserve-3d;
  pointer-events: all;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
#cardTable .front,
#cardTable .back {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  pointer-events: none;
}
#cardTable .front {
  background: #222222;
  font-size: 8em;
  justify-content: center;
  align-items: center;
  color: transparent;
  text-shadow: 0px 0.25rem 0.25rem #222222, 0 0 0 #000000b7, 0px 0.25rem 0.25rem #222222;
}
#cardTable .back {
  font-size: 5em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222222;
  transform: rotateY(180deg);
  font-family: 'Questrial', sans-serif;
  justify-content: center;
  align-items: center;
}
#cardTable .back #star {
  position: absolute;
  display: block;
  width: 3rem;
  top: 0rem;
  right: 1rem;
}
#burger {
  position: fixed;
  left: 2rem;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#burger #cardsNumber {
  padding: 16px 20px;
  margin: 6px 0px;
  display: block;
  border: 1px solid #1b1b1b;
  outline: none;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #1b1b1b;
  color: #ffffff;
  transition: 0.1s;
  filter: drop-shadow(0px 0.25rem 0.25rem #00000069);
  -moz-appearance: textfield;
  /*For FireFox*/
}
#burger #cardsNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#burger #cardsNumber:focus {
  border: 1px solid #7c7aff;
}
#burger #setBut {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background-color: #222222;
  border-radius: 12px;
  filter: brightness(1) drop-shadow(0px 0.25rem 0.25rem #00000069);
  cursor: pointer;
  transition: 0.1s;
}
#burger #setBut svg {
  display: flex;
  fill: #ffffff;
  width: 24px;
}
#burger #setBut:hover {
  filter: brightness(0.7) drop-shadow(0px 0.25rem 0.25rem #00000069);
}
#burger .cardReset {
  width: 128px;
  height: 48px;
  background-color: #7c7aff;
  color: white;
  padding: 12px 6px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Questrial', sans-serif;
  filter: brightness(1) drop-shadow(0px 0.25rem 0.25rem #00000069);
  transition: 0.1s;
}
#burger .cardReset:hover {
  filter: brightness(0.7) drop-shadow(0px 0.25rem 0.25rem #00000069);
}
#burger span {
  font-family: 'Questrial', sans-serif;
  color: #ffffff;
  letter-spacing: 2px;
  opacity: 50%;
  cursor: pointer;
}
.menu {
  display: block;
}
.menuNone {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  background: #434353;
}
::-webkit-scrollbar-thumb:hover {
  background: #282831;
}
