
@cardsColor:#222222;
@main:#1b1b1b;
@dropShadow: drop-shadow( 0px 0.25rem 0.25rem #00000069);
@textLight: #ffffff;
@secondary: #7c7aff;
@secondaryDarkOp: #282831;
@secondaryOp: #434353;

body {
    background-color: @main;
    margin: 0px;
    padding: 0px;
}

.flip {
    transform: rotateY(-180deg);
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

#settings {
    overflow: hidden;
    filter: @dropShadow;
    position: fixed;
    width: 20rem;

    left: 2rem;
    bottom: 6rem;


    z-index: 5;

    font-family: 'Questrial', sans-serif;
    color: @textLight;

    background-color: @cardsColor;
    height: fit-content;

    padding: 6px 12px;
    border-radius: 12px;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    input[type=number] {
        width: 50%;
        padding: 16px 20px;
        margin: 6px 0px;
        display: block;

        border: 1px solid @main;
        outline:none;

        border-radius: 6px;

        box-sizing: border-box;
        background-color: @main;
        color: @textLight;
        transition: 0.1s;

        //bruhhhhh definatly from google lmao
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:focus {
            border: 1px solid @secondary;
        }
    }

    input[type=submit] {
        width: 100%;
        background-color: transparent;
        color: @secondary;
        padding: 16px 20px;
        margin: 6px 0px;
        border: solid 1px @secondary;
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Questrial', sans-serif;
        transition: 0.1s;
        &:hover {
            color: @textLight;
            background-color: @secondary;
        }
    }

    label {
        padding: 16px 20px;
        margin: 6px 0px;

        font-size: 1.25em;
        color: @textLight;
        font-family: 'Questrial', sans-serif;
        width: 50%;
    }
    div{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}

#cardTable {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 0px;
    gap:20px;
    box-sizing: border-box;

    padding: 20px;
    padding-top: 100px;
    margin-bottom: 80px;

    height: 100%;

    .raritys {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-family: 'Questrial', sans-serif;
    }


    .card-container {
        width: var(--ww);
        height: var(--hh);
        margin: 12px auto;

        border-radius: 12px;

        perspective: 80rem;
        pointer-events: none;

        filter: @dropShadow;
    }

    .card {
        position: relative;

        height: 100%;

        border-radius: 0.5rem;
        cursor: pointer;

        width: 100%;
        transform-style: preserve-3d;
        pointer-events: all;

        -moz-transition: transform 1s;
        -webkit-transition: transform 1s;
        transition: transform 1s;
    }

    .front, .back {
        display: flex;

        width: 100%;
        height: 100%;

        border-radius: 0.5rem;

        justify-content: center;
        align-items: center;

        backface-visibility: hidden;
        pointer-events: none;
    }

    .front {
        background: @cardsColor;
        font-size: 8em;
        justify-content: center;
        align-items: center;
        color: transparent;
        text-shadow: 0px 0.25rem 0.25rem @cardsColor, 0 0 0 #000000b7, 0px 0.25rem 0.25rem @cardsColor;
    }

    .back {
        font-size: 5em;
        position: absolute;
        top: 0;
        left: 0;
        background-color: @cardsColor;

        transform: rotateY(180deg);
        font-family: 'Questrial', sans-serif;
        justify-content: center;
        align-items: center;
        #star {
            position: absolute;
            display: block;
            width: 3rem;
            top: 0rem;
            right: 1rem;
        }
    }


}

#burger {
    position: fixed;
    left: 2rem;
    bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    #cardsNumber {
        padding: 16px 20px;
        margin: 6px 0px;
        display: block;

        border: 1px solid @main;
        outline:none;

        border-radius: 12px;

        box-sizing: border-box;
        background-color: @main;
        color: @textLight;
        transition: 0.1s;

        filter: @dropShadow;

        //bruhhhhh definatly from google lmao
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:focus {
            border: 1px solid @secondary;
        }
    }

    #setBut {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        svg {
            display: flex;
            fill: @textLight;
            width: 24px;
        }
        background-color: @cardsColor;
        border-radius: 12px;

        filter: brightness(1) @dropShadow;
        cursor: pointer;
        transition: 0.1s;
        &:hover {
            filter: brightness(0.7) @dropShadow;
        }

    }
    .cardReset {
        width: 128px;
        height: 48px;
        background-color: @secondary;
        color: white;
        padding: 12px 6px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-family: 'Questrial', sans-serif;

        filter: brightness(1) @dropShadow;
        transition: 0.1s;
    }

    .cardReset:hover {
        filter: brightness(0.7) @dropShadow;
    }
    span {
        font-family: 'Questrial', sans-serif;
        color: @textLight;
        letter-spacing: 2px;
        opacity: 50%;
        cursor: pointer;
    }
}

.menu {
    display: block;
}

.menuNone{
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: @main; 
}
::-webkit-scrollbar-thumb {
    background: @secondaryOp;
}

::-webkit-scrollbar-thumb:hover {
    background: @secondaryDarkOp;
}